In [51]:
outlist = []

factor = 8

with open('/Users/peidacai/Desktop/turnstile_160102.csv', 'r') as f:
    count = 0
    for line in f:
        
        if count % factor == 0:
            count += 1
            outlist.append(line)
        else:
            count += 1
            pass
f.close()

In [52]:
with open('/Users/peidacai/Desktop/NYC Subway mini data/mini_turnstile_160604.csv', 'w') as f:
    
    f.writelines(outlist)
f.close()

In [20]:
import pandas as pd

In [31]:
df = pd.read_csv('mini_yellow_tripdata_2015-09.csv')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-09-01 00:06:28,2015-09-01 00:12:44,1,1.70,-73.955544,40.779613,1,N,-73.980408,40.788300,1,7.5,0.5,0.5,1.00,0.0,0.3,9.80
1,2,2015-09-01 00:06:59,2015-09-01 00:20:04,1,3.73,-73.937927,40.828407,1,N,-73.953239,40.785252,1,13.0,0.5,0.5,2.86,0.0,0.3,17.16
2,2,2015-09-01 00:14:36,2015-09-01 00:22:35,6,2.07,-73.966515,40.753426,1,N,-73.989021,40.741852,1,8.5,0.5,0.5,0.00,0.0,0.3,9.80
3,1,2015-09-01 00:08:00,2015-09-01 00:14:00,1,1.50,-73.988480,40.743156,1,N,-73.984924,40.758965,2,7.0,0.5,0.5,0.00,0.0,0.3,8.30
4,2,2015-09-01 00:08:32,2015-09-01 00:22:42,1,3.59,-73.992607,40.724407,1,N,-73.980385,40.676647,1,14.0,0.5,0.5,3.06,0.0,0.3,18.36

In [32]:
df.shape

(112250, 19)

In [33]:
df.describe()

,VendorID,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,112250.000000,112250.000000,112250.000000,112250.000000,112250.000000,112250.000000,112250.000000,112250.000000,112250.00000,112250.000000,112250.000000,112250.000000,112250.000000,112250.000000,112250.000000,112250.000000
mean,1.531216,1.678022,3.086581,-73.014574,40.221590,1.048552,-73.070738,40.253895,1.38041,13.295983,0.316414,0.497354,1.738543,0.336917,0.299599,16.484867
std,0.499027,1.331733,3.914624,8.368819,4.609695,0.827361,8.123874,4.473295,0.50152,11.551223,0.363687,0.039790,2.509254,2.164085,0.014817,14.119899
min,1.000000,0.000000,0.000000,-121.933220,0.000000,1.000000,-121.933350,0.000000,1.00000,-150.000000,-1.000000,-0.500000,-1.360000,-15.290000,-0.300000,-150.800000
25%,1.000000,1.000000,1.020000,-73.992302,40.735241,1.000000,-73.991570,40.733891,1.00000,6.500000,0.000000,0.500000,0.000000,0.000000,0.300000,8.760000
50%,2.000000,1.000000,1.760000,-73.982033,40.752434,1.000000,-73.980095,40.753021,1.00000,9.500000,0.000000,0.500000,1.160000,0.000000,0.300000,12.250000
75%,2.000000,2.000000,3.300000,-73.966684,40.767437,1.000000,-73.962532,40.768603,2.00000,15.000000,0.500000,0.500000,2.350000,0.000000,0.300000,18.300000
max,2.000000,6.000000,221.000000,0.000000,41.028450,99.000000,0.000000,41.336582,4.00000,450.000000,1.500000,0.500000,100.300000,537.290000,0.300000,617.590000